.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.color-scale-1 { background: #ebedf0; }
.color-scale-2 { background: #daebed; }
.color-scale-3 { background: #c6dbef; }
.color-scale-4 { background: #b3cce3; }
.color-scale-5 { background: #9ebbd7; }
.color-scale-6 { background: #8aaacb; }
.color-scale-7 { background: #7799bf; }
.color-scale-8 { background: #6488b3; }
.color-scale-9 { background: #5277a7; }
.color-scale-10 { background: #4166a3; }
